*.jpg
*.jpeg
*.png
*.gif
*.txt
*.onnx
Aula_08/yolo_mnist/digital-number*
Aula_08/yolo_mnist/.env



.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# notebooks
.ipynb_checkpoints
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# C extensions
*.so

.vscode