*.jpg
*.jpeg
*.png
*.gif
*.txt
*.onnx
*.pt
*.cache

gabarito*

Aula_08/yolo_mnist/digital-number*
Aula_08/yolo_mnist/.env
Aula_09/datasets/*
Aula_09/runs/*
datasets/*


.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# notebooks
.ipynb_checkpoints
*.ipynb_checkpoints
*/.ipynb_checkpoints/*

# C extensions
*.so

.vscode
Aula_10/text-datasets
.env
